## What is the average trip duration for a borrowed bicycle?

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./trip.csv', error_bad_lines=False)

/home/mohmmadnoorjebreen/401/labs1/Data-Analysis-with-Pandas/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [3]:
avg_trip_duration  = df['tripduration'].mean()
avg_trip_duration

1178.2956753399776

## Whatâ€™s the most common age of a bicycle-sharer?

In [4]:
birthyear = df['birthyear'].mode()
2020 - birthyear

0    33.0
dtype: float64

## Given all the weather data here, find the average precipitation per month, and the median precipitation

In [5]:
dfw = pd.read_csv('./weather.csv')
dfw

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

median precipitation

In [6]:
median_precipitation = dfw['Precipitation_In'].median()
median_precipitation

0.0

average precipitation per month

In [7]:
dfw['Date'] = pd.to_datetime(dfw['Date'])
dfw['months'] = dfw['Date'].apply(lambda x:x.strftime('%B'))
average_precipitation_per_month = dfw.groupby('months')['Precipitation_In'].mean()
average_precipitation_per_month

months
April        0.051333
August       0.018226
December     0.236290
February     0.168421
January      0.143548
July         0.012097
June         0.030500
March        0.156935
May          0.012419
November     0.187833
October      0.189000
September    0.041000
Name: Precipitation_In, dtype: float64

## Whatâ€™s the average number of bikes at a given bike station?

In [8]:
dfs= pd.read_csv('./station.csv')
bikes = dfs['install_dockcount'].mean()
bikes

17.586206896551722

## When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [9]:
dfs['install_dockcount - current_dockcount'] = dfs['install_dockcount'] - dfs['current_dockcount']
dfs['install_dockcount - current_dockcount'].sum()

62

### The result is a positive number, so it tends to lose

# 3 more questions

## Whatâ€™s the most common gender of a bicycle-sharer?

In [10]:
gender = df['gender'].mode()
gender

0    Male
dtype: object

## What is the Max Temperature?

In [11]:
Max_Temperature_F = dfw['Max_Temperature_F'].max()
Max_Temperature_F

98

## The highest number of bikes found at the station at a given time

In [12]:
highest_bikes = dfs['install_dockcount'].max()
highest_bikes

30

# tests

In [14]:

def test():
    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
        
    assert_equal(bikes, 17.586206896551722)
    assert_equal(dfs['install_dockcount - current_dockcount'].sum(), 62)
    assert_equal(avg_trip_duration, 1178.2956753399776)
    assert_equal(median_precipitation, 0.0)

    
    
    print("Success!!!")
test()

Success!!!