# Video Game Sales - Sales data from more than 16,500 games 
name : mohammad noor 
date : 8/9/2021

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Which company is the most common video game publisher?

In [4]:

most_common = df[['Publisher']].mode()

most_common

         Publisher
0  Electronic Arts

## Whatâ€™s the most common platform?

In [5]:
most_common_platform = df[['Platform']].mode()
most_common_platform.Platform.item()

'DS'

## What about the most common genre?

In [6]:
most_common_genre = df[['Genre']].mode()
most_common_genre.Genre.item()

'Action'

## What are the top 20 highest grossing games?

In [16]:

top_20 = df[['Name','Global_Sales']].head(20)
top_20

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## For North American video game sales, whatâ€™s the median?

In [8]:
median_North_American = df[['NA_Sales']].median()
median_North_American

NA_Sales    0.08
dtype: float64

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [9]:
df_zscore = (df['NA_Sales'] - df['NA_Sales'].mean())/df['NA_Sales'].std()
df_zscore[0]

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [10]:
Platform_index = df.set_index('Platform')
avg_Will = Platform_index.loc['Wii']['Global_Sales'].mean()

avg_Will

0.6994037735849057

In [11]:
avg_all_other = df[df['Platform'] != 'Wii']['Global_Sales'].mean()
avg_all_other.item()

0.5233896418516336

# 3 more questions

## What is the average for sales in Japan

In [12]:
avg_japan = df['JP_Sales'].mean()
avg_japan

0.077781660441017

## What is the sum of the other sales of all the games?

In [13]:
sum_other = df['Other_Sales'].sum()
sum_other

797.7500000000001

## For Europe video game sales, whatâ€™s the median?

In [14]:
median_Europe = df[['EU_Sales']].median()
median_Europe.EU_Sales.item()

0.02

# test

In [15]:
def test():
    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
    assert_equal(most_common.Publisher.item(),'Electronic Arts')
    assert_equal(most_common_platform.Platform.item(),'DS')
    assert_equal(most_common_genre.Genre.item(),'Action')
    assert_equal(top_20.iloc[0].Name,'Wii Sports')
    assert_equal(median_North_American.item(),0.08)
    assert_equal(df_zscore[0],50.47898767479108 )
    assert_equal(avg_Will,0.6994037735849057 )
    assert_equal(avg_all_other.item(),0.5233896418516336 )
    assert_equal(avg_japan,0.077781660441017 )
    assert_equal(sum_other,797.7500000000001 )
    assert_equal(median_Europe.EU_Sales.item(),0.02 )
    
    print("Success!!!")
test()

Success!!!